/* ===============================variable settings */
:root {
  --ff: Verdana, Geneva, Tahoma, sans-serif;
  --fs-sm: ;
  --fs-reg: 16px;
  --fs-big: ;

  --clr-bg-light: rgb(97, 97, 97);
  --clr-bg-dark: rgb(29, 29, 29);
  --clr-bg-acc: rgb(36, 196, 236);

  --clr-txt-pri: rgb(61, 61, 61);
  --clr-txt-sec: rgb(32, 32, 32);
  --clr-txt-dark: rgb(0, 110, 255);
  --clr-txt-light: rgb(116, 176, 255);
}
/* ===============================variable settings */

/* ===============================initial settings */
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background: var(--clr-bg-dark);
  color: var(--clr-txt-pri);
  font-family: var(--ff);
  font-size: var(--fs-reg);
}

.myspace-sides {
  width: 80%;
  margin: 0 auto;
}

/* ===============================initial settings */

/* ===============================header with nav */
header {
  background: var(--clr-bg-acc);
}

header::after {
  content: "";
  display: table;
  clear: both;
}

header h2 {
  float: left;
  padding: 0.3em 0;
  text-transform: uppercase;
}

header span {
  opacity: 0.5;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 2em;
  padding-top: 1em;

  position: relative;
}

nav a {
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-txt-pri);
}

nav a:hover {
  color: var(--clr-txt-sec);
}

nav a::before {
  content: "";
  display: block;
  height: 0.3em;
  background: var(--clr-txt-sec);

  position: absolute;
  top: 0.09em;
  width: 0%;
  transition: all 0.5s ease-in-out;
}

nav a:hover::before {
  width: 100%;
}
/* ===============================header with nav */

/* ===============================main */
.note {
  color: var(--clr-txt-light);
}
/* ===============================main */

/* ===============================footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--clr-bg-acc);
  /* margin: 0; */
}

footer h6 {
  color: var(--clr-txt-sec);
}
/* ===============================footer */
